.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    padding: 10px 0 10px 0; 
}

.commentSecionHead {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.commentButton {
  border: none;
  background: none;
}

.buttonGif {
  border: none;
  background: none;
}

